<div id="headbar">
<div class="inner">
	
	<a href="/" class="logo">
		<span class="symbol"><img src="images/logo.svg" alt="" /></span><span>changcenter</span>
	</a>
	
		
	<!--<nav id="navtop">-->
	<!--<ul>-->
	<!--<li><a href="#work">Work</a></li>-->
	<!--<li><a href="#portfolio">Portfolio</a></li>-->
	<!--<li><a href="#contact">Contact</a></li>-->
	<!--</ul>-->
	<!--</nav>-->
	
	<nav id="menuicon">
	<ul>
	<li><a href="#menu">ช่างเซ็นเตอร์</a></li>
	</ul>
	</nav>
								
	<nav id="menu">
	<h2><a href="javascript:void(0);" role="button" id="admin101">admin101</a></h2>
	<ul>
		<li><a href="javascript:void(0);" role="button" id="add_member">เพิ่มช่าง</a></li>
		<li><a href="generic.html">Ipsum veroeros</a></li>
		<li><a href="generic.html">Tempus etiam</a></li>
		<li><a href="generic.html">Consequat dolor</a></li>
		<li><a href="elements.html">Elements</a></li>
	</ul>
</nav>

</div>
</div> 

