<!DOCTYPE HTML>
<html>
	<head>
		<title>ช่างเซ็นเตอร์</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">admin101</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>admin101</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>ทดสอบภาษาไทย This is Phantom, a free, fully responsive site<br />
								template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
								<p>ในวิถีแห่งเทคโนโลยีและการสื่อสารไร้พรมแดน ท่ามกลางสังคมที่มีค่านิยมยอมรับนับถือวัตถุมากกว่าคุณค่าของจิตใจนั้น หลายๆสิ่งกำลังเจริญก้าวหน้าไปอย่างไม่มีขีดจำกัด ในขณะที่ยังมีอีกสิ่งหนึ่งที่กำลังดำดิ่งลงสู่ห้วงเหวแห่งหายนะอย่างหลีกเลี่ยงไม่ได้ ซึ่งก็คือ ความเป็นไทยและภาษาไทย ภาษาชาติของเรานั่นเอง ที่กำลังถูกค่านิยมของคนรุ่นใหม่รุกรานจนแทบไม่หลงเหลือเค้าเดิมอยู่เลย

        ปัญหาการใช้ภาษาไทยนั้นเกิดขึ้นจากจุดเล็กๆจนในขณะนี้ลุกลามไปทุกหย่อมหญ้า แม้แต่ในสถานศึกษาอันเป็นแหล่งหล่อหลอมความรู้ก็มิได้ละเว้น ภาษาไทยกลายเป็นวิชาที่น่าเบื่อของผู้เรียน และสุดท้ายผู้เรียนจึงได้รับความรู้แบบงูๆปลาๆที่จะนำไปใช้ต่อไปอย่างผิดๆ หากเราจะแยกปมปัญหาการใช้ภาษาไทยในโรงเรียนนั้น สามารถแยกเป็นประเด็นใหญ่ๆ ได้       ๒ ประเด็น คือ

 


        ๑.ปัญหาการใช้ภาษาไทยที่เกิดจาก ครู เนื่องจากครู คือ ผู้ประสาทวิชา เป็นผู้ให้ความรู้แก่ศิษย์ ดังนั้นความรู้ในด้านต่างๆ เด็กๆจึงมักจะได้รับมาจากครูเป็นส่วนใหญ่ ในขณะที่ครูบางคนนั้นมีความรู้แต่ไม่แตกฉาน โดยเฉพาะวิชาภาษาไทยเป็นวิชาที่มีความละเอียดอ่อน และมีส่วนประกอบแยกย่อยอย่างละเอียดลออ เมื่อครูไม่เข้าใจภาษาไทยอย่างกระจ่าง จึงทำให้นักเรียนไม่เข้าใจตามไปด้วย จนพานเกลียดภาษาไทยไปในที่สุด ซึ่งเป็นปัญหาที่ปรากฏให้เห็นอยู่มากมายในปัจจุบัน


         ความเป็นครูนั้น แน่นอนการสอนย่อมสำคัญที่สุด ครูบางคนมีความรู้อยู่ในหัวเต็มไปหมดแต่กลับสอนไม่เป็น ซึ่งครูส่วนใหญ่มิได้ยอมรับปัญหานี้ บางคนสักแต่ว่าสอน แต่ไม่เข้าใจเด็กว่าทำอย่างไร อธิบายอย่างไร เด็กซึ่งเปรียบเสมือนผ้าข้าวนั้นจะซึมซับเอาความรู้จากท่านไปได้มากที่สุด การทำความเข้าใจเด็กจึงเป็นส่วนประกอบหลักที่สำคัญไม่แพ้ภูมิความรู้ที่มีอยู่ในตัวครูเลย   ครูจึงควรหันกลับมายอมรับความจริง และพยายามปรับปรุงแก้ไขตนเองให้เหมาะสมกับที่เป็นผู้รู้ที่คนทั่วไปยอมรับนับถือ


         ๒. ปัญหาการใช้ภาษาไทยที่เกิดจากนักเรียน ในสังคมยุคไซเบอร์ ซึ่งสามารถเข้าไปใช้บริการแลกเปลี่ยนเรียนรู้ได้ทุกภาคส่วน “ เด็ก” ซึ่งเป็นวัยที่อยากรู้อยากลองจึงมิได้ให้ความสนใจเพียงแค่การศึกษาค้นคว้าข้อมูลการศึกษาเท่านั้น หากแต่สนใจกับภาคบันเทิงควบคู่ไปด้วย และโดยแท้จริงแล้ว มักจะให้ความสำคัญกับประเด็นหลังมากกว่าการค้นคว้าความรู้เสียด้วยซ้ำ ดังนั้นจึงสามารถกล่าวได้ว่าการใช้อินเทอร์เน็ตของเด็กนั้นเป็นปมปัญหาสำคัญยิ่งที่ไม่ควรมองข้าม



          ปัญหาการใช้ภาษาไทยที่เกิดจากอินเทอร์เน็ตนั้นเริ่มลุกลามมาจากโปรแกรมแช็ทรูมและเกมออนไลน์ ซึ่งดูคล้ายเป็นการสนทนากันธรรมดา แต่เมื่อได้เข้าไปสัมผัสแล้ว มิใช่เลย การสนทนาอันไม่มีขีดจำกัดของภาษาทำให้เกิดปัญหาขึ้นมากมาย ดังเช่นที่พบตามหน้าหนังสือพิมพ์ในปัจจุบัน และในขณะเดียวกันก็สร้างปัญหาให้แก่วงการภาษาไทยด้วย นั่นคือการกร่อนคำ
และการสร้างคำใหม่ให้มีความหมายแปลกไปจากเดิม หรืออย่างที่เรียกว่าภาษาเด็กแนวนั่นเอง ดังจะขอยกตัวอย่าง ดังนี้

          สวัสดี เป็น ดีครับ ดีค่ะ
          ใช่ไหม เป็น ชิมิ
          โทรศัพท์ เป็น ทอสับ
          กิน เป็น กิงt=240737</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Magna</h2>
										<div class="content">
											<p>ก็ลองหลายที่ Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Lorem</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Feugiat</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Tempus</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Aliquam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Veroeros</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/pic07.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Ipsum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/pic08.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Dolor</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="images/pic09.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Nullam</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/pic10.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Ultricies</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/pic11.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Dictum</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images/pic12.jpg" alt="" />
									</span>
									<a href="generic.html">
										<h2>Pretium</h2>
										<div class="content">
											<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; changcenter.com, All rights reserved</li><li>Original Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Modified Design: <a href="http://changcenter.com">changcenter.com</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>