<!DOCTYPE HTML>
<html>
	<head>
		<title>ช่างเซ็นเตอร์</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
<body>
<div id="wrapper">
<% include ../partials/headbar %>

<div id="ccpTopImg" style="margin-top:2.5em;height:300px;background-image:url(https://s3-ap-northeast-1.amazonaws.com/priewmaxim/2cb679b09a3d698f3e5e421520a5d322.jpg)">
  <!--<img src="https://s3-ap-northeast-1.amazonaws.com/priewmaxim/2cb679b09a3d698f3e5e421520a5d322.jpg" alt="" />-->
</div>
<div id="main">
<br/>



<div class="inner">
<div class="row">
  <div class="12u$">
    <div id="ccpImgBg"></div>
    <div id="ccpImg">
      <img src="images/storefront-6C6C6C.jpg" alt="store" />
    </div>

    <div id="ccpInfo">
      <div id="ccpName">ร้านอุดมการกระจก รับติดตั้ง กระจก อลูมิเนียม เชียงใหม่-ลำพูน</div>
    
      <div id="ccpBadges">👏 👩‍🔧 👨‍🔧 🦅 🦀 🦑 🐙 </div>
      <div id="ccpBadges">🐝🐞🐜🦐🐳🐋🎄🍄💐🌏🔥</div>
    </div>
		<ul class="actions">
			<li><a id="ccpEdit" href="javascript:void(0);" class="button special common icon fa-pencil-square">แก้ไขข้อมูล</a></li>
		</ul>
    <!--<span class="right"><a id="ccpEdit" href="#" class="button">Edit</a></span>-->
  </div>
</div>

<div class="row" style="margin-top:15px;">
	<div class="4u">
	  <div id="ccpContact">
      <div id="ccpAsterisk"><i class="fa fa-asterisk fb-color" aria-hidden="true" style="width:1.3em;text-align:center;"></i><p style="margin:-1.8em 0 0 1.7em">ข้อมูลจาก facebook</p>️</div>
      <div id="ccpAsterisk2" style="margin-top:-1.6em;"><i class="fa fa-facebook fb-color" aria-hidden="true" style="width:1.3em;text-align:center;"></i><a href="https://www.facebook.com/audomaluminium" target="_blank" class="fb-color" style="margin:-1.8em 0 0 0.4em">audomaluminium</a>️</div>
      
      <div id="ccpTel" style="margin-top:.3em;"><i class="fa fa-phone" aria-hidden="true" style="width:1.3em;text-align:center;"></i><p style="margin:-1.8em 0 0 1.7em">081 594 1251</p></div>
      <div id="ccpAddress" style="margin-top:.3em;"><i class="fa fa-address-card-o" aria-hidden="true"></i><p style="margin:-1.8em 0 0 1.7em">213 หมู่ 3 ต.มะเขือแจ้ อ.เมือง เทศบาลเมืองลำพูน 51000</p></div>
      <!--<div id="ccpBadges" style="margin:0 0 0 1.7em">️</div>-->
    
    </div>
  </div>
	<div class="8u">
	  <div class="row">
	    <div class="12u">
	  <!--<div id="ccpDesc">บริการต่อเติมบ้าน ใน เทศบาลเมืองลำพูน</div>-->
      <div class="box">
      <p>บริการต่อเติมบ้าน ใน เทศบาลเมืองลำพูน</p>    
      </div>
    </div>
    <div class="row">
    	<div class="12u">
        <p>สินค้าและบริการ</p>
    	</div>
    </div>
    
    
<div class="row">
<div class="6u">
  <article>
  <span class="image">
  <img src="images/cloud-upload-512.png" alt="" />
  </span>
  <div class="name">เพิ่มข้อมูลช่าง</div>
  <div class="info">
  กดเพิ่มข้อมูลช่าง
  </div>
  </article>
</div>
</div>
    
    
    
	</div>
</div>



	<div class="4u">
<article>
<span class="image">
<img src="images/cloud-upload-512.png" alt="" />
</span>
<div class="name">เพิ่มข้อมูลช่าง</div>
<div class="info">
กดเพิ่มข้อมูลช่าง
</div>
</article>
	  
	</div>
</div>
<!--<header>-->
<!--	<p>สินค้าและบริการ</p>-->
<!--</header>-->
<br/>
<p style="margin:0 0 0.5em 0">สินค้าและบริการ</p>
<section class="gridflow">


<article>
<span class="image">
<img src="images/cloud-upload-512.png" alt="" />
</span>
<div class="name">เพิ่มข้อมูลช่าง</div>
<div class="info">
กดเพิ่มข้อมูลช่าง
</div>
</article>

<article>
<span class="image">
<img src="https://s3-ap-northeast-1.amazonaws.com/priewmaxim/2cb679b09a3d698f3e5e421520a5d322.jpg" alt="" />
</span>
<a href="generic.html">
<h2>Upload</h2>
<div class="content">
<p>เพิ่มรูปภาพ</p>
</div>
</a>
</article>

<article>
<span class="image">
<img src="https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/e35/13108668_187117698355046_158026491_n.jpg?ig_cache_key=MTI1Nzk2ODc2MzIxMDE4MjYxNQ%3D%3D.2" alt="" />
</span>
<div class="name">ช่างกำไล รับซ่อมประปา</div>
<div class="info">
รับงาน ประปา งานท่อน้ำ ทุกชนิด
</div>
</article>



</section>

</div>
</div>


<script>
$('.nx').dblclick(function(){
  $(this).replaceWith('<i class="fa fa-heart mx"></i>');
  $('.mx').show().addClass('animated rubberBand');
});

$('.nz').click(function(){
  alert('Not Working :p');
});
</script>
<style>


.feeds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: center; */
}

.feed-image {
  img {
    max-width: 100%;
  }
}

.feed {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  width: 500px;
  margin: .5em;
  align-self: center;
  flex-basis: 450px; 
}

.feed-header {
  display: flex;
  padding: 1em;
  align-items: baseline;
  
  
  .feed-author-name {
    color: #444;
    flex-grow: 1;
    margin: .5em;
    text-decoration: none;
  }
  
  .feed-time {
    color: #ddd;
    text-decoration: none;
  }
}

.feed-body {
  padding: 1.5em;
  white-space: normal;
}

.feed-footer {
  display: flex;
  border-top: 1px solid #eee;
  margin: 0 1.5em 0 1.5em ;
  padding: 1em 0 1em 0;
  align-items: center;
}

.ny {
  /* input box */
  border: 0px;
  outline: none;
  font-family: 'Lato', san-serif;
  margin: .5em;
  flex-grow: 1;
}
.nx, .nz, .mx {
  color: #ddd;
  font-size: 1.5em;
  cursor: pointer;
}
.nz {
  align-self: flex-start;
  margin-top: 0.2em;
}
.mx {
  color: red;
}
.feed-author-img {
  img {
    width: 30px;
    height: 30px;
    border-radius: 100px; 
  }
}
</style>

<div class="feeds">
  <div class="feed">
    <div class="feed-header">
      <a class="feed-author-img"><img src="https://igcdn-photos-f-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/s150x150/13248883_502754173266869_1416838301_a.jpg"/></a>
      <a class="feed-author-name" href="http://blog.stackpie.com">Seun</a>
      <a class="feed-time">2h</a>
    </div>
    <div class="feed-image">
      <img src="http://vignette2.wikia.nocookie.net/enanimanga/images/6/6c/Soul_Eater.png/revision/latest?cb=20110928182429" />
    </div>
    <div class="feed-body">More creepy texts...</div>
    <div class="feed-footer">
      <i class="fa fa-heart-o nx"></i>
      <input type="text" class="ny" placeholder="Add a comment..."/>
      <i class="fa fa-sort-down nz"></i>
    </div>
  </div>
</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; changcenter.com, All rights reserved</li><li>Original Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Modified Design: <a href="http://changcenter.com">changcenter.com</a></li>
							</ul>
						</div>
					</footer>

</div>
<div id="ed">
  
</div>
<% include ../partials/scripts %>
<% include ../partials/admin/scripts %>
</body>
</html>